body
{
	color: black;
	background-color: white;
}

/* Fleet Table */

table.gridtable 
{
	color:#333333;
	border-color: #666666;
	border-color: #ababab;
}

table.gridtable th 
{
	border-color: #666666;
	border-color: #ababab;
	background-color: #dedede;
}

table.gridtable td 
{
	border-color: #666666;
	border-color: #dddddd;
	background-color: #ffffff;
}

table.fleetcomp
{
	color:#333333;
	border-color: #666666;
	border-color: #ababab;
}