body
{
	color: white;
	background-color: black;
}

/* Fleet Table */

table.gridtable 
{
	color: white;
	border-color: #666666;
	border-color: #ababab;
}
table.gridtable th 
{
	border-color: black;
	background-color: #555555;
}

table.gridtable td 
{
	background-color: #AAAAAA;
	color: green;
}
